* {
    box-sizing: border-box;
    padding: 3px;
    margin: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*This is the background*/
body {
    background-color: black;
}

/*This is the header and the navigation bar*/
header {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    padding: 10px;
    background-color: rgb(49, 49, 49);
}

/*My Name*/
header h1 {
    padding: 10px 30px;
    display: inline-block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header span {
    color: rgb(9, 255, 0);
}

/*This is the about me, my work, and contact information*/
header nav {
    padding: 10px 50px;
    display: flex;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
header nav a {
    padding: 10px;
    color: white;
    font-size: 15px;
}
nav a:hover {
    color: rgb(9, 255, 0);
}

/*This is the bionary image*/
.code {
    height: 200px;
    width: auto;
    margin-top: 0px;
    background-image: url("./Images/bionary.jpeg");
    background-size: cover;
    background-position: center;
}

/*This is the about me*/
aside {
    padding: 50px;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

aside span {
    color: rgb(9, 255, 0);;
}
.body {
    width: auto;
    flex-direction: column;
    display: flex;
    color: white;
    font-family: arial;
}
#about {
    padding: 40px;
    display: flex;
    position: relative;
    max-width: 100%;
    font-size: 15px;
}

p {
    padding: 20px;
    display: flex;
    position: relative;
    max-width: 100%;
}

/*This is my work*/
#work {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.experience {
    display: flex;
    width: 100%;
    position: relative;
    max-width: 1000px;
    flex-wrap: wrap;
}

.projectone {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*Images for my work*/
.prjctone {
    background-image: url(./Images/698137.jpeg);
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 0px;
    max-width: 900px;
}

.prjctone:hover {
    box-shadow: white;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    opacity: .5;
}

.title {
    color: white;
    font-size: 15px;
    position: absolute;
    max-width: fit-content;

}

.more {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
}

.prjcttwo {
    background-image: url(./Images/Html.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    margin: 10px;
}

.prjcttwo:hover {
    box-shadow: white;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    opacity: .5;
}

.prjctthree {
    background-image: url(./Images/css3-logo.jpeg.crdownload);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 10px;
}

.prjctthree:hover {
    box-shadow: white;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    opacity: .5;
}

.prjctfour {
    background-image: url(./Images/tacos.jpeg);
    background-size: cover;
    width: 400px;
    height: 300px;
    margin: 10px;
}

.prjctfour:hover {
    box-shadow: white;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    opacity: .5;
}

.prjctfive {
    background-image: url(./Images/rps.jpeg);
    background-size: cover;
    width: 400px;
    height: 300px;
    margin: 10px;
}

.prjctfive:hover {
    box-shadow: white;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    opacity: .5;
}

/*Contact Information*/
#contact {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#contact p {
    padding: 60px;
    display: flex;
    position: relative;
    max-width: 50%;

}